<h1><%= @person.full_name %></h1>

<h2>Assignments</h2>
<%= link_to "+ Add Location", new_person_assignment_path(@person), class: "pull-right" %>
<table class="table">
  <thead>
    <tr>
      <th>Location</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @person.assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.location.name %></td>
      <td><%= assignment.role %></td>
      <td><%= link_to "edit", edit_person_assignment_path(@person, assignment) %>
      <%= link_to "delete", person_assignment_path(@person, assignment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Edit Person", edit_person_path(@person) %>
